<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"  media="screen"/>
    <link rel="stylesheet" th:href="@{/css/starter-template.css}" media="screen"/>

<head>
  <meta charset="utf-8" />
  <title>Edit Company</title>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" th:href="@{/}">Home</a>
    </div>

  </div>
</nav>
<div align="center">
  <h1>Edit Company</h1>
  <br />
  <form action="#" th:action="@{/company/save}" th:object="${company}" method="post">

    <table border="0" cellpadding="10">
      <tr>
        <td>ID :</td>
        <td>
          <input type="text" th:field="*{id}" readonly="readonly" />
        </td>
      </tr>
      <tr>
        <td>Nama :</td>
        <td>
          <input type="text" th:field="*{nama}" />
        </td>
      </tr>
      <tr>
        <td>Atasan :</td>
        <td><input type="text" th:field="*{alamat}" /></td>
      </tr>
      <tr>

      <tr>
        <td colspan="2"><button type="submit">Save</button> </td>
      </tr>
    </table>
  </form>
</div>
</body>
</html>