<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
<head>
    <meta charset="UTF-8">
    <title>Hitung Huruf Vokal Dengan MVC</title>
</head>
<body>
<center>
    <h2>Hitung Huruf Vokal</h2>
    <form action="#" th:action="@{/}" th:object="${mdl}" method="post">
        <textarea rows="auto" cols="auto" th:field="*{data}" placeholder="Input kalimat disini"></textarea>
        <br><br/>
        <input type="submit" name="cek" value="Cek">

        <table cellpadding="3">
            <tr th:each="hasil : ${hasil}">
                <th th:text="${hasil}">&nbsp;</th>
            </tr>
        </table>

    </form>

</center>

</body>
</html>