<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Employee</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"  media="screen"/>
    <link rel="stylesheet" th:href="@{/css/starter-template.css}" media="screen"/>

    <style type="text/css">
    body{
        background:#bfbf;
        background-repeat:no-repeat;
        background-position:center center;

    }
    table{
        width: 80%; /* Ganti menjadi 100% untuk tampilan responsif */
        border-collapse: collapse;
        margin: 30px 0px 30px;
        background-color: #fff;
        font-size: 14px;
    }
    table tr {
        height: 40px;
    }table th {
        background: #00BFFF;
        color: white;
        font-weight: bold;
        font-size: 18px;
    }
    table td, th {
        padding: 6px 6px 6px 10px;
        border: 1px solid #ccc;
    }
    

    /* CSS3 untuk pewarnaan baris selang-seling */
    table tr:nth-of-type(odd) {
        background: #eee;
    }

    /* Penomoran otomatis pada baris */
    .no-baris {
        counter-reset: serial-number;  /* Atur penomoran ke 0 */
    }
    .no-baris td:first-child:before {
        counter-increment: serial-number;  /* Kenaikan penomoran */
        content: counter(serial-number);  /* Tampilan counter */
    }
    </style>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" th:href="@{/}">Home</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a th:href="@{/employee}">Daftar Employee</a></li>
                <li class="none"><a th:href="@{/company}">Daftar Company</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container">
    <div align="center">
        <h1 style="font color:white">Daftar Employee</h1>
        <div>
            <a href="/employee/new" class="btn btn-success">Tambah</a>
        </div>
        <br/><br/>
        <table border="1" cellpadding="10" class="no-baris">
            <thead>
            <tr>
                <th>No</th>
                <th>Nama</th>
                <th>Atasan</th>
                <th>Company</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="employee : ${listEmployee}">
                <td ></td>
                <td th:text="${employee.nama}">Nama</td>
                <td th:text="${employee.atasan_id}">Dika</td>
                <td th:text="${employee.company_id}">Javan</td>
                <td>
                    <a th:href="@{'/employee/edit/' + ${employee.id}}">Edit</a>
                    &nbsp;&nbsp;&nbsp;
                    <a th:href="@{'/employee/delete/' + ${employee.id}}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
	</div>
</body>
</html>