<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tambah Employee</title>
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"  media="screen"/>
  <link rel="stylesheet" th:href="@{/css/starter-template.css}" media="screen"/>

</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" th:href="@{/}">Home</a>
    </div>

  </div>
</nav>
<div align="center">
  <h1>Create New Employee</h1>
  <br />

  <form border="1" action="#" th:action="@{/employee/save}" th:object="${employee}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <table border="0" cellpadding="10">
      <tr>
        <td>Nama :</td>
        <td><input type="text" th:field="*{nama}" /></td>
      </tr>
      <tr>
        <td>Atasan :</td>
        <td><input type="text" th:field="*{atasan_id}" /></td>
      </tr>
      <tr>
        <td>Company :</td>
        <td><input type="text" th:field="*{company_id}" /></td>
      </tr>

      <tr>
        <td colspan="2"><button type="submit">Save</button> </td>
      </tr>
    </table>
  </form>
</div>
</body>
</html>