<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
<head>
    <meta charset="UTF-8">
    <title>Cek Ganjil Genap</title>
    <style type="text/css">
		body {
			font-size: 15px;
			color: #343d44;
			font-family: "segoe-ui", "open-sans", tahoma, arial;
			padding: 0;
			margin: 0;
		}
		table {
			margin: auto;
			font-family: "Lucida Sans Unicode", "Lucida Grande", "Segoe Ui";
			font-size: 12px;
		}

		h1 {
			margin: 25px auto 0;
			text-align: center;
			text-transform: uppercase;
			font-size: 17px;
		}

		table td {
			transition: all .5s;
		}

		/* Table */
		.data-table {
			border-collapse: collapse;
			font-size: 14px;
			min-width: 200px;
		}

		.data-table th,
		.data-table td {
			border: 1px solid #e1edff;
			padding: 7px 17px;
		}
		.data-table caption {
			margin: 7px;
		}

		/* Table Header */
		.data-table thead th {
			background-color: #508abb;
			color: #FFFFFF;
			border-color: #6ea1cc !important;
			text-transform: uppercase;
		}

		/* Table Body */
		.data-table tbody td {
			color: #353535;
		}
		.data-table tbody td:first-child,
		.data-table tbody td:nth-child(4),
		.data-table tbody td:last-child {
			text-align: right;
		}

		.data-table tbody tr:nth-child(odd) td {
			background-color: #f4fbff;
		}
		.data-table tbody tr:hover td {
			background-color: #ffffa2;
			border-color: #ffff0f;
		}

		/* Table Footer */
		.data-table tfoot th {
			background-color: #e5f5ff;
			text-align: right;
		}
		.data-table tfoot th:first-child {
			text-align: left;
		}
		.data-table tbody td:empty
		{
			background-color: #ffcccc;
		}
	</style>
</head>
<body>
<center>
    <h2>Cek Angka Ganjil Genap</h2>

    <form action="#"  th:action="@{/}" th:object="${ganjilGenap}" method="post">
        <input type="text" th:field="*{awal}" id="awal" placeholder="Input Bilangan 1"/><br/><br/>
        <input type="text" th:field="*{akhir}" id="akhir" placeholder="Input Bilangan 2"/><br/><br/>

        <input type="submit" name="cek" value="Cek"/>
        <br/><br/>


    </form>
    <table class="data-table" id="tableHasil" >
        <thead>
        <tr>
            <th>Hasil</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="hasil : ${hasils}" >
            <td th:text="${hasil}" align="center"/>
        </tr>

        </tbody>

    </table>

</center>

</body>
</html>